* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
nav {
  height: 80px;
  width: 100%;
}
label.logo {
  color: black;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: black;
  font-size: 17px;
  text-transform: uppercase;
  padding: 7px 13px;
  border-radius: 3px;
}

#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul li {
    display: block;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }
}
.title {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50);
}
h2 {
  text-align: left;
  font-size: xx-large;
}
h3 {
  text-align: center;
  font-size: xx-large;
}
p {
  text-align: left;
}
pre {
  font-size: larger;
  position: -webkit-sticky;
  top: 20%;
  color: black;
  left: 1%;
}
